<div class="container">
  <div class="col-md-12">
    <h1>Categories List</h1>
<input type="text" placeholder="Search ..." #myInput [(ngModel)]="pered" (input)="Search()"/>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Price</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let categorie of categories">
        <td>{{ categorie.id }}</td>
        <td>{{ categorie.name }}</td>
        <td>{{ categorie.description }}</td>
        <td>{{ categorie.price | currency:'USD':true:'1.0-2' }}</td>
        <td>
          <a class="btn btn-info" routerLink="/categorie/{{categorie.id}}"><i class="fa fa-edit"><span class="glyphicon glyphicon-pencil"></span></i> </a>
          <button class="btn btn-danger" (click)="removeCategorie(categorie)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/categorie/add" class="btn btn-success">Add</a>
  </div>
</div>
